.forgot-password-container {
  height: 100vh;
  display: flex;
  width: 100vw;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: #f5f6f7;
}

.forgot-password-box {
  display: flex;
  width: 80%;
  max-width: 1200px;
  height: 80vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.forgot-password-image {
  width: 100%;
  height: 100%;
}

.forgot-password-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.forgot-password-content {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forgot-password-title {
  font-size: 26px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 14px;
  color: #333333b3;
  margin-bottom: 5px;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-forgot-password {
  width: 100%;
  padding: 12px;
  background-color: #2b38d1;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-forgot-password:hover {
  background-color: rgb(0, 21, 253);
}

.error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.message {
  color: #2ecc71;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.login-link {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .forgot-password-box {
    flex-direction: column;
    height: auto;
  }

  .forgot-password-image {
    width: 100%;
    height: 250px;
  }

  .forgot-password-content {
    width: 100%;
    padding: 20px;
  }
}

.vh100forgot {
  height: 100vh;
}

.mp0 {
  margin: 0px !important;
  padding: 0px !important;
}

.main-forgot-password-css {
  display: flex;
  align-items: center;
  justify-content: center;
}