.vh100reset {
  height: 100vh;
}

.reset-image {
  width: 100%;
  height: 100%;
}

.reset-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-reset-css {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.reset-content {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reset-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.reset-card {
  margin-bottom: 20px;
}

.reset-card label {
  font-size: 14px;
  color: #333333b3;
  margin-bottom: 5px;
  display: block;
}

.reset-card input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.reset-form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.btn-reset {
  width: 100%;
  padding: 10px;
  background-color: #2b38d1;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-reset:hover {
  background-color: rgb(0, 21, 253);
}

.login-link {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.login-link a {
  color: #2b38d1;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .main-reset-css {
    padding: 10px;
  }

  .reset-image {
    height: 250px;
  }

  .reset-content {
    padding: 20px;
  }
}

.input-group {
  position: relative;
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
}

.input-icon:hover {
  color: #2b38d1;
}