.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background: #faf9f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px; 
  margin-bottom: 30px;
}

.title {
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
}

.rating-stars {
  margin-bottom: 20px;
  color: #ffb400;
  font-size: 5rem;
 
}

.subtitle {
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #666;
}

.upload-button {
  margin-bottom: 15px;
  border: 2px dashed #1976d2;
  color: #1976d2;
  font-size: 0.875rem;
  padding: 10px 15px;
  background-color: rgba(25, 118, 210, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

.upload-button:hover {
  background-color: #1976d2;
  color: #fff;
}

.image-preview {
  margin-bottom: 15px;
}

.preview-image {
  max-width: 100%;
  max-height: 200px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-area {
  margin-bottom: 20px;
}

.submit-button {
  background-color: #1976d2;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #159a3d;
}

.rating-stars .MuiRating-icon {
  color: #ffb400; 
}

.rating-stars .MuiRating-iconEmpty {
  color: #e0e0e0; 
}
